body{
    margin: 0;
    width: 100%;
    height: 100vh;
}

header{
     height: 50px;
     background-color: bisque;
}

#descricaoCor{
    background-color: black;
    color: white;
    height: 50px;
    width: 700px;
    border-radius: 40px;
    display: flex;
    align-self: center;
    align-items: right;
    
}

button{
    background-color: black;
    color: white ;
    height: 30px;
    width: 100px;
    border-radius: 40px;
}

#corpo{
    height: 100%;
    width: 100%;
    display: flex;
}